h2{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

h3{
    margin-top: 5%;
    text-align: center;
}

p{
    text-align: start;
}

.containerPost p{
    text-align: center;
}

.navbar-brand{
    color: whitesmoke;
}

.nav-link{
    color: whitesmoke;
}

footer{
    color: whitesmoke;  
}

.navbar{
    justify-content: flex-end;
}